body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family:'Oxygen', sans-serif;
}
#header-nav {

	border-radius: 0;
	border:0;
	height: 150px;
	background:url(header.jpg);
	background-size: cover;
}
#logo-img {
	background:url(logo.jpg) no-repeat;	
	width:150px;	
	height:60px;
	margin: 10px 15px 10px 0;
}
.navbar-brand{
	padding-top: 15px;
	padding-left: 5px;
}

.navbar-brand h1{
	color: black;
	font-size: 2em;
	font-weight: bold;
	text-shadow: 1px 1px 1px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;}


    @media(min-width: 768px) {
    	.navbar-toggle{
    		display: none;
    	}
    }


    @media(max-width:769px ){
    	.navbar-collapse{
    		display:all;
    	}
    }
	.navbar-header button.navbar-toggle .icon-bar {
  	border: 1px solid #61122f;
  	}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}