*{
	box-sizing: border-box;	
}
body{
	font-family: sans-serif;
}
section
{ 	
	padding-left: 10px;	
	background-color: grey;
	margin-bottom: 30px;
	margin-left: 0;
	margin-right: 0.33%;
}
h1{
	text-align: center;
	font-size: 100% bold;
}
h2{	
	
	text-align:center;
	background-color: red;	
	width: 100px;
	height: 20px;
	font-size: 75%;	
	border: 1px solid black;
	margin-top: 0;
	margin-right: 0;	
	margin-left: auto;
	padding-top: 2px;
	mar`
}
h3{
	text-align: center;
	background-color: orange;
	width: 100px;
	height: 20px;
	font-size: 75%;	
	border: 1px solid black;
	margin-top: 0;
	margin-right: 0;
	margin-left: auto;	
}
h4{
	background-color: yellow;
	text-align: center;
	width: 100px;
	height: 20px;
	font-size: 75%;	
	border: 1px solid black;
	margin-top: 0;
	margin-right: 0;
	margin-left: auto;
}
.row{
	width: 100%
}
/***********for desktop************/
@media (min-width: 992px) {
	 .col-lg-4 {
	 	float: left ;
		border: 1px solid black;	
	 			}
	 .col-lg-4 {
	 	width: 33%;
	          }
}
/***********for tablet**********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2 {
		float: left;
		border: 1px solid black;

	}
	.col-md-1 {
		width: 100%;
	}
	.col-md-2 {
		width: 49.50%;
	}
}
/***********for mobile*******/
@media (max-width: 767px) {
	.col-sm-1 {
		float: left;
		border: 1px solid black;
	
	}
	.col-sm-1 {
		width: 100%;
	}
	}
	
